<aside id="custom_html-4" class="widget_text widget widget_custom_html">
    <h4 class="widget-title penci-border-arrow">
        <span class="inner-arrow">Daily Moon</span>
    </h4>

    <p>
        Please be patient, lunar information will be back in just a few moments!
    </p>
</aside>
