<label for="widget-dailymoon-bg-color">Moon image background color:
    <input class="widefat" id="widget-dailymoon-bg-color" name="bg-color" type="color" value="{{ bgColorInitialValue }}">
</label>

<label for="widget-dailymoon-image-model">Moon image model:
    <select class="widefat" id="widget-dailymoon-image-model" name="image-model">
        {% for imageModel in imageModelsAvailable %}
            <option value="{{ imageModel }}" {% if imageModel == imageModelInitialValue %}selected{% endif %}>{{ imageModel }}</option>
        {% endfor %}
    </select>
</label>
