<p>
    <label for="widget-dailymoon-bg-color">Moon image background color:</label>
    <input class="widefat" id="widget-dailymoon-bg-color" name="bg-color" type="color" value="{{ bgColor }}">
</p>

<p>
    <label for="widget-dailymoon-language">Language:
        <select name="language" id="widget-dailymoon-language">
            <option value="EN" {{ language == 'EN' ? "selected" : "" }}>English</option>
            <option value="FR" {{ language == 'FR' ? "selected" : "" }}>Français</option>
        </select>
    </label>
</p>
